NodeRed/flows.json
[{"id":"c867ae0fc4f85075","type":"tab","label":"Flow 1","disabled":false,"info":"","env":[]},{"id":"04cb9ea0ced17521","type":"tab","label":"Flow 2","disabled":false,"info":"","env":[]},{"id":"3ba6e23e8da607d8","type":"tab","label":"Flow 3","disabled":false,"info":"","env":[]},{"id":"7fa09d7.c466b64","type":"server","name":"Home Assistant","addon":true},{"id":"49b0b2543f4cd5d6","type":"mqtt-broker","name":"EMQX","broker":"broker.emqx.io","port":1883,"clientid":"","autoConnect":true,"usetls":false,"protocolVersion":4,"keepalive":60,"cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"069446ac39e837cf","type":"influxdb","hostname":"127.0.0.1","port":8086,"protocol":"http","database":"Wheelchair","name":"motion","usetls":false,"tls":"","influxdbVersion":"1.x","url":"http://localhost:8086","timeout":10,"rejectUnauthorized":true},{"id":"b10d02c8a7f3d331","type":"telegram bot","botname":"Zawarudo","usernames":"","chatids":"","baseapiurl":"","testenvironment":false,"updatemode":"polling","pollinterval":300,"usesocks":false,"sockshost":"","socksprotocol":"socks5","socksport":6667,"socksusername":"anonymous","sockspassword":"","bothost":"","botpath":"","localbothost":"0.0.0.0","localbotport":8443,"publicbotport":8443,"privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false},{"id":"fc282f8192a45ebb","type":"inject","z":"c867ae0fc4f85075","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":520,"y":200,"wires":[["c7b834dee90da11e"]]},{"id":"756c598967adc90d","type":"debug","z":"c867ae0fc4f85075","name":"debug 1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1100,"y":200,"wires":[]},{"id":"97ee1b08154cd0d4","type":"comment","z":"c867ae0fc4f85075","name":"WowZa","info":"","x":510,"y":160,"wires":[]},{"id":"fa4a54884dd41050","type":"inject","z":"c867ae0fc4f85075","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":500,"y":500,"wires":[["8d7abbdd385be2d8"]]},{"id":"dead23b1e1316325","type":"debug","z":"c867ae0fc4f85075","name":"debug 2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1040,"y":500,"wires":[]},{"id":"14e3e004b254b272","type":"comment","z":"c867ae0fc4f85075","name":"Mai","info":"","x":490,"y":460,"wires":[]},{"id":"474e756d88098130","type":"switch","z":"c867ae0fc4f85075","name":"","property":"payload.status","propertyType":"msg","rules":[{"t":"eq","v":"in","vt":"str"},{"t":"eq","v":"out","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":650,"y":600,"wires":[["bed6e340c0e83487"],["c33071c2c254feef"]]},{"id":"172cda16687df668","type":"mqtt in","z":"c867ae0fc4f85075","name":"","topic":"ton/server/devices","qos":"2","datatype":"auto-detect","broker":"49b0b2543f4cd5d6","nl":false,"rap":true,"rh":0,"inputs":0,"x":110,"y":500,"wires":[["4e3b474473eb031e","2452a91d8ffc9faa","1be21db1a74d6e97"]]},{"id":"9bed77ed458c2781","type":"switch","z":"c867ae0fc4f85075","name":"","property":"payload.status","propertyType":"msg","rules":[{"t":"eq","v":"in","vt":"str"},{"t":"eq","v":"out","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":690,"y":320,"wires":[["c3cc6c013523b704"],["5a02d11fb473cbd5"]]},{"id":"fe7b06d3dae64a2b","type":"server-state-changed","z":"c867ae0fc4f85075","name":"","server":"7fa09d7.c466b64","version":6,"outputs":1,"exposeAsEntityConfig":"","entities":{"entity":["switch.mai"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":810,"y":680,"wires":[["dead23b1e1316325"]]},{"id":"bed6e340c0e83487","type":"api-call-service","z":"c867ae0fc4f85075","name":"Mai - On","server":"7fa09d7.c466b64","version":7,"debugenabled":false,"action":"switch.turn_on","floorId":[],"areaId":[],"deviceId":[],"entityId":["switch.mai"],"labelId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":true,"domain":"switch","service":"turn_on","x":820,"y":560,"wires":[["dead23b1e1316325"]]},{"id":"c33071c2c254feef","type":"api-call-service","z":"c867ae0fc4f85075","name":"Mai - Off","server":"7fa09d7.c466b64","version":7,"debugenabled":false,"action":"switch.turn_off","floorId":[],"areaId":[],"deviceId":[],"entityId":["switch.mai"],"labelId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":true,"domain":"switch","service":"turn_off","x":820,"y":620,"wires":[["dead23b1e1316325"]]},{"id":"8d7abbdd385be2d8","type":"api-call-service","z":"c867ae0fc4f85075","name":"Mai - Toggle","server":"7fa09d7.c466b64","version":7,"debugenabled":false,"action":"switch.toggle","floorId":[],"areaId":[],"deviceId":[],"entityId":["switch.mai"],"labelId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":true,"domain":"switch","service":"toggle","x":730,"y":500,"wires":[["dead23b1e1316325"]]},{"id":"c7b834dee90da11e","type":"api-call-service","z":"c867ae0fc4f85075","name":"WoWZa - Toggle","server":"7fa09d7.c466b64","version":7,"debugenabled":false,"action":"switch.toggle","floorId":[],"areaId":[],"deviceId":[],"entityId":["switch.wowza"],"labelId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":true,"domain":"switch","service":"toggle","x":810,"y":200,"wires":[["756c598967adc90d"]]},{"id":"c3cc6c013523b704","type":"api-call-service","z":"c867ae0fc4f85075","name":"WoWZa - On","server":"7fa09d7.c466b64","version":7,"debugenabled":false,"action":"switch.toggle","floorId":[],"areaId":[],"deviceId":[],"entityId":["switch.wowza"],"labelId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":true,"domain":"switch","service":"toggle","x":870,"y":280,"wires":[["756c598967adc90d"]]},{"id":"5a02d11fb473cbd5","type":"api-call-service","z":"c867ae0fc4f85075","name":"WoWZa - Off","server":"7fa09d7.c466b64","version":7,"debugenabled":false,"action":"switch.toggle","floorId":[],"areaId":[],"deviceId":[],"entityId":["switch.wowza"],"labelId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":true,"domain":"switch","service":"toggle","x":870,"y":340,"wires":[["756c598967adc90d"]]},{"id":"df9705932d62d944","type":"server-state-changed","z":"c867ae0fc4f85075","name":"","server":"7fa09d7.c466b64","version":6,"outputs":1,"exposeAsEntityConfig":"","entities":{"entity":["switch.wowza"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":840,"y":400,"wires":[["756c598967adc90d"]]},{"id":"4e3b474473eb031e","type":"switch","z":"c867ae0fc4f85075","name":"","property":"payload.room","propertyType":"msg","rules":[{"t":"eq","v":"Living Room","vt":"str"},{"t":"eq","v":"Bedroom","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":290,"y":500,"wires":[["9bed77ed458c2781"],["474e756d88098130"]]},{"id":"4e972286edadc31a","type":"function","z":"c867ae0fc4f85075","name":"global declaration","func":"global.set(\"room\", \"nowhere\");\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":330,"y":60,"wires":[[]]},{"id":"ac6cfdab26d85f79","type":"inject","z":"c867ae0fc4f85075","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":60,"wires":[["4e972286edadc31a"]]},{"id":"7d2bae4b26670e1e","type":"debug","z":"c867ae0fc4f85075","name":"debug 7","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":400,"y":640,"wires":[]},{"id":"2452a91d8ffc9faa","type":"function","z":"c867ae0fc4f85075","name":"global modification","func":"if (msg.payload.status == \"in\") {\n    global.set(\"room\", msg.payload.room);\n}\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":210,"y":640,"wires":[["7d2bae4b26670e1e"]]},{"id":"201e7fec35ac1347","type":"debug","z":"c867ae0fc4f85075","name":"debug 8","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":640,"y":760,"wires":[]},{"id":"556f26126afe9aea","type":"http request","z":"c867ae0fc4f85075","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://a1f0-203-131-213-42.ngrok-free.app/post/data/insert","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":450,"y":760,"wires":[["201e7fec35ac1347"]]},{"id":"bbfc3f48551f6ae3","type":"inject","z":"c867ae0fc4f85075","name":"","props":[{"p":"payload.status","v":"in","vt":"str"},{"p":"payload.room","v":"Living Room","vt":"str"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":90,"y":760,"wires":[["1be21db1a74d6e97"]]},{"id":"1be21db1a74d6e97","type":"function","z":"c867ae0fc4f85075","name":"preprocess","func":"msg.payload.collection = \"room\";\nmsg.payload.home = \"9/16 Moo 17\";\nmsg.payload.name = \"Wheelchair User\";\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":270,"y":760,"wires":[["556f26126afe9aea"]]},{"id":"fa8bfe0b654099fa","type":"mqtt in","z":"04cb9ea0ced17521","name":"","topic":"ton/server/m5","qos":"2","datatype":"auto-detect","broker":"49b0b2543f4cd5d6","nl":false,"rap":true,"rh":0,"inputs":0,"x":110,"y":280,"wires":[["2a6050c249b063b1","fc2e4c7a38df68ec","cbcb78dd704a3dc0","8db045f3ea3c6bf5","57a5c18c9f506033","28c10e15b38c5d93"]]},{"id":"2a6050c249b063b1","type":"change","z":"04cb9ea0ced17521","name":"ax","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[\"axm\"]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":290,"y":140,"wires":[["f3ea87be28a17eea"]]},{"id":"fc2e4c7a38df68ec","type":"change","z":"04cb9ea0ced17521","name":"ay","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[\"aym\"]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":290,"y":200,"wires":[["8d00566ae14d81f1"]]},{"id":"cbcb78dd704a3dc0","type":"change","z":"04cb9ea0ced17521","name":"az","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[\"azm\"]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":290,"y":260,"wires":[["90d855bf0d23d352","30ae66a06d5ac2d2"]]},{"id":"8db045f3ea3c6bf5","type":"change","z":"04cb9ea0ced17521","name":"gx","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[\"gxm\"]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":290,"y":320,"wires":[["5eabb85040995cef"]]},{"id":"57a5c18c9f506033","type":"change","z":"04cb9ea0ced17521","name":"gy","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[\"gym\"]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":290,"y":380,"wires":[["b4c7a26e4197486d"]]},{"id":"28c10e15b38c5d93","type":"change","z":"04cb9ea0ced17521","name":"gz","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[\"gzm\"]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":290,"y":440,"wires":[["0cdff5fbef4c1bf2"]]},{"id":"9e7370a34785caab","type":"influxdb out","z":"04cb9ea0ced17521","influxdb":"069446ac39e837cf","name":"","measurement":"ax","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":640,"y":140,"wires":[]},{"id":"c29abb9dd82d68cc","type":"influxdb out","z":"04cb9ea0ced17521","influxdb":"069446ac39e837cf","name":"","measurement":"ay","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":640,"y":200,"wires":[]},{"id":"5954c75ce025ef35","type":"influxdb out","z":"04cb9ea0ced17521","influxdb":"069446ac39e837cf","name":"","measurement":"az","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":640,"y":260,"wires":[]},{"id":"3481bc8a72a39ccf","type":"influxdb out","z":"04cb9ea0ced17521","influxdb":"069446ac39e837cf","name":"","measurement":"gx","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":640,"y":320,"wires":[]},{"id":"5f1af2bdb89ce4dc","type":"influxdb out","z":"04cb9ea0ced17521","influxdb":"069446ac39e837cf","name":"","measurement":"gy","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":640,"y":380,"wires":[]},{"id":"a157c906f13a3f2d","type":"influxdb out","z":"04cb9ea0ced17521","influxdb":"069446ac39e837cf","name":"","measurement":"gz","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":640,"y":440,"wires":[]},{"id":"f3ea87be28a17eea","type":"function","z":"04cb9ea0ced17521","name":"extraction","func":"let arr = msg.payload; // Assume msg.payload is the array\nlet outputMsgs = [];\n\nfor (let obj of arr) {\n    outputMsgs.push({ payload: obj });\n}\n\nreturn [outputMsgs];","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":140,"wires":[["9e7370a34785caab"]]},{"id":"8d00566ae14d81f1","type":"function","z":"04cb9ea0ced17521","name":"extraction","func":"let arr = msg.payload; // Assume msg.payload is the array\nlet outputMsgs = [];\n\nfor (let obj of arr) {\n    outputMsgs.push({ payload: obj });\n}\n\nreturn [outputMsgs];","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":200,"wires":[["c29abb9dd82d68cc"]]},{"id":"90d855bf0d23d352","type":"function","z":"04cb9ea0ced17521","name":"extraction","func":"let arr = msg.payload; // Assume msg.payload is the array\nlet outputMsgs = [];\n\nfor (let obj of arr) {\n    outputMsgs.push({ payload: obj });\n}\n\nreturn [outputMsgs];","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":260,"wires":[["5954c75ce025ef35"]]},{"id":"5eabb85040995cef","type":"function","z":"04cb9ea0ced17521","name":"extraction","func":"let arr = msg.payload; // Assume msg.payload is the array\nlet outputMsgs = [];\n\nfor (let obj of arr) {\n    outputMsgs.push({ payload: obj });\n}\n\nreturn [outputMsgs];","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":320,"wires":[["3481bc8a72a39ccf"]]},{"id":"b4c7a26e4197486d","type":"function","z":"04cb9ea0ced17521","name":"extraction","func":"let arr = msg.payload; // Assume msg.payload is the array\nlet outputMsgs = [];\n\nfor (let obj of arr) {\n    outputMsgs.push({ payload: obj });\n}\n\nreturn [outputMsgs];","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":380,"wires":[["5f1af2bdb89ce4dc"]]},{"id":"0cdff5fbef4c1bf2","type":"function","z":"04cb9ea0ced17521","name":"extraction","func":"let arr = msg.payload; // Assume msg.payload is the array\nlet outputMsgs = [];\n\nfor (let obj of arr) {\n    outputMsgs.push({ payload: obj });\n}\n\nreturn [outputMsgs];","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":440,"wires":[["a157c906f13a3f2d"]]},{"id":"0505405a7f4f3f66","type":"inject","z":"04cb9ea0ced17521","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"500","payloadType":"num","x":110,"y":60,"wires":[["b04c8e0f82965955"]]},{"id":"b04c8e0f82965955","type":"influxdb out","z":"04cb9ea0ced17521","influxdb":"069446ac39e837cf","name":"","measurement":"example","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":380,"y":60,"wires":[]},{"id":"30ae66a06d5ac2d2","type":"function","z":"04cb9ea0ced17521","name":"fall detection","func":"let avg = mean(msg.payload);\nif (avg >= 0.7 || avg <= -0.7) {\n    msg.payload = \"falling\";\n} else {\n    msg.payload = \"not falling\";\n}\nreturn msg;\n\nfunction mean(arr) {\n    if (!Array.isArray(arr) || arr.length === 0) return 0;\n    return arr.reduce((acc, val) => acc + val, 0) / arr.length;\n}","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":450,"y":500,"wires":[["689119b86811063f"]]},{"id":"689119b86811063f","type":"rbe","z":"04cb9ea0ced17521","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","topi":"topic","x":610,"y":500,"wires":[["8b6eb615386f1aba","a850290e1c7af037"]]},{"id":"8b6eb615386f1aba","type":"function","z":"04cb9ea0ced17521","name":"filter","func":"let status = typeof msg.payload === \"string\" ? msg.payload : JSON.stringify(msg.payload);\nlet c = Date.now();\nlet date = new Date(c);\nlet room = global.get(\"room\");\nlet text = `Wheelchair is ${status} at ${date.getDate()}/${date.getMonth()}/${date.getFullYear()} ${date.getHours()}:${date.getMinutes()}:${date.getSeconds()} in the ${room}`;\n\nmsg.payload = {};\nmsg.payload.chatId = 7086001303; \nmsg.payload.type =\"message\";\nmsg.payload.content = text\n\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":730,"y":540,"wires":[["0b2776192d57ca5f"]]},{"id":"ea5745e3205909bb","type":"debug","z":"04cb9ea0ced17521","name":"debug 5","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":920,"y":620,"wires":[]},{"id":"0b2776192d57ca5f","type":"telegram sender","z":"04cb9ea0ced17521","name":"","bot":"b10d02c8a7f3d331","haserroroutput":false,"outputs":1,"x":710,"y":620,"wires":[["ea5745e3205909bb"]]},{"id":"a850290e1c7af037","type":"function","z":"04cb9ea0ced17521","name":"preprocess","func":"let status = typeof msg.payload === \"string\" ? msg.payload : JSON.stringify(msg.payload);\nlet room = global.get(\"room\");\n\nmsg.payload = {};\nmsg.payload.collection = \"status\";\nmsg.payload.home = \"9/16 Moo 17\";\nmsg.payload.name = \"Wheelchair User\";\nmsg.payload.room = room;\nmsg.payload.status = status;\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":530,"y":680,"wires":[["0bcdcd179ce68f9b"]]},{"id":"db4b77930b5c9cdf","type":"debug","z":"04cb9ea0ced17521","name":"debug 9","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":900,"y":680,"wires":[]},{"id":"0bcdcd179ce68f9b","type":"http request","z":"04cb9ea0ced17521","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://a1f0-203-131-213-42.ngrok-free.app/post/data/insert","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":710,"y":680,"wires":[["db4b77930b5c9cdf"]]},{"id":"33f11678fed95b54","type":"debug","z":"3ba6e23e8da607d8","name":"debug 3","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":700,"y":180,"wires":[]},{"id":"17cf3356ce720d7d","type":"telegram sender","z":"3ba6e23e8da607d8","name":"","bot":"b10d02c8a7f3d331","haserroroutput":false,"outputs":1,"x":490,"y":180,"wires":[["33f11678fed95b54"]]},{"id":"81748cc4c46327b2","type":"inject","z":"3ba6e23e8da607d8","name":"","props":[{"p":"payload.chatId","v":"7086001303","vt":"num"},{"p":"payload.type","v":"message","vt":"str"},{"p":"payload.content","v":"Eww","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":230,"y":180,"wires":[["17cf3356ce720d7d"]]},{"id":"991e432ffccb7ccf","type":"telegram receiver","z":"3ba6e23e8da607d8","name":"","bot":"b10d02c8a7f3d331","saveDataDir":"","filterCommands":false,"x":90,"y":260,"wires":[["8897a7187b57dfa0"],["8897a7187b57dfa0"]]},{"id":"8897a7187b57dfa0","type":"debug","z":"3ba6e23e8da607d8","name":"debug 4","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":300,"y":260,"wires":[]},{"id":"42927d26db886a83","type":"function","z":"3ba6e23e8da607d8","name":"filter","func":"let c = Date.now();\nlet date = new Date(c);\nlet text = `Wheelchair is fallen at ${date.getDate()}/${date.getMonth()}/${date.getFullYear()} ${date.getHours()}:${date.getMinutes()}:${date.getSeconds()} in the Kitchen`;\n\nmsg.payload = {\n    \"chatId\": 7086001303,\n    \"type\": \"message\",\n    \"content\": text\n}\n\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":390,"y":340,"wires":[["17cf3356ce720d7d"]]},{"id":"e55c7f9bf4e8c069","type":"inject","z":"3ba6e23e8da607d8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":220,"y":340,"wires":[["42927d26db886a83"]]},{"id":"a2675ce7548ba60d","type":"http request","z":"3ba6e23e8da607d8","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://a1f0-203-131-213-42.ngrok-free.app/","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":370,"y":440,"wires":[["5efadeac26a5e415"]]},{"id":"2dc78aa49508aaa8","type":"inject","z":"3ba6e23e8da607d8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":180,"y":440,"wires":[["a2675ce7548ba60d"]]},{"id":"5efadeac26a5e415","type":"debug","z":"3ba6e23e8da607d8","name":"debug 6","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":560,"y":440,"wires":[]},{"id":"01f090c2c665b3f4","type":"function","z":"3ba6e23e8da607d8","name":"preprocess","func":"let status = \"not falling\";\nlet room = global.get(\"room\");\n\nmsg.payload = {};\nmsg.payload.collection = \"status\";\nmsg.payload.home = \"9/16 Moo 17\";\nmsg.payload.name = \"Wheelchair User\";\nmsg.payload.room = room;\nmsg.payload.status = status;\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":330,"y":520,"wires":[["0004f80979dea3f0"]]},{"id":"d7790204491a5367","type":"debug","z":"3ba6e23e8da607d8","name":"debug 10","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":700,"y":520,"wires":[]},{"id":"0004f80979dea3f0","type":"http request","z":"3ba6e23e8da607d8","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://a1f0-203-131-213-42.ngrok-free.app/post/data/insert","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":510,"y":520,"wires":[["d7790204491a5367"]]},{"id":"22d0a15f71dd07d7","type":"inject","z":"3ba6e23e8da607d8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":520,"wires":[["01f090c2c665b3f4"]]}]
